.scroll-content.overview {
  background-color: $balanced;
  text-align: center;
  color: #fff;
  h1 {
    background-color: #fff;
    text-align: center;
  }
  .col {
    background-color: #fff;
    color: #000;
  }
}