.scroll-content.overview {
  font-family: 'Open Sans';
  text-align: center;
  h1 {
    text-align: center;
    font-family: 'Open Sans'
  }
  p {
    margin: 1em .5em;
    text-align: left;
  }
  .col {
    background-color: #fff;
    color: #000;
  }
}