<ion-view view-title="Current Delivery" class="current-delivery">
  <ion-content>
    <ion-list class="inner-list">
      <ion-item class="item-divider">
        Item
      </ion-item>
      <ion-item>
        {{donation.name}}
      </ion-item>
      <ion-item class="item-divider">
        Donor
      </ion-item>
      <ion-item class="item-icon-right">
        <div>{{donation.donor.first_name}} {{donation.donor.last_name }}</div>
        <div>{{donation.donor.address_1}}</div>
        <div>{{donation.donor.city}}, {{donation.donor.state}} {{donation.donor.zipcode}}</div>
        <i class="icon" ng-class="(donation.status === 'Donation Received' || donation.status === 'Arrived at Recipient' || donation.status === 'Completed') ? 'ion-ios7-checkmark-outline' : 'ion-ios7-circle-outline'"></i>
      </ion-item>
      <ion-item class="item-divider" ng-if="donation.special_instructions && donation.status === 'Driver In Progress'">
        Driver Instructions
      </ion-item>
      <ion-item ng-if="donation.special_instructions && donation.status === 'Driver In Progress'">
        {{donation.special_instructions}}
      </ion-item>
      <ion-item ng-if="donation.status === 'Driver In Progress' || donation.status === 'Arrived at Donor'">
        <a class="button button-block button-outline button-balanced" ng-href="http://maps.apple.com/?q={{donation.donor.lat}},{{donation.donor.lng}}" ng-if="donation.status === 'Driver In Progress'">
          Open location in Maps
        </a>
        <button class="button button-block button-balanced" ng-if="donation.status === 'Driver In Progress'" ng-click="arrivedAtDonor()">
          I'm here
        </button>
        <button class="button button-block button-balanced" ng-if="donation.status === 'Arrived at Donor'" ng-click="verifyDriverToDonorHandshake()">
          Scan donor code
        </button>
      </ion-item>
      <ion-item class="item-divider">
        Recipient
      </ion-item>
      <ion-item class="item-icon-right">
        <div>{{donation.recipient.organization_name}}</div>
        <div>{{donation.recipient.address_1}}</div>
        <div>{{donation.recipient.city}}, {{donation.recipient.state}} {{donation.recipient.zipcode}}</div>
        <i class="icon" ng-class="donation.status === 'Completed' ? 'ion-ios7-checkmark-outline' : 'ion-ios7-circle-outline'"></i>
      </ion-item>
      <ion-item ng-if="donation.status === 'Donation Received' || donation.status === 'Arrived at Recipient'">
        <a class="button button-block button-outline button-balanced" ng-href="http://maps.apple.com/?q={{donation.recipient.lat}},{{donation.recipient.lng}}" ng-if="donation.status === 'Donation Received'">
          Open location in Maps
        </a>
        <button class="button button-block button-balanced" ng-if="donation.status === 'Donation Received'" ng-click="arrivedAtRecipient()">
          I'm here
        </button>
        <button class="button button-block button-balanced" ng-if="donation.status === 'Arrived at Recipient'" ng-click="verifyDriverToRecipientHandshake()">
          Scan recipient code
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
