<ion-view view-title="Driver Registration - Step 5">
    <ion-content>
      <form name="driverReg5Form" ng-submit="updateDriverInfo()">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Driver Photo"/>
          </label>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Vehicle Photo"/>
          </label>
        </div>
        <button type="submit" class="button button-block button-positive">
          Update Driver Info
        </button>
      </form>
    </ion-content>
</ion-view>
