<ion-view view-title="Driver Registration - Step 1">
    <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="First Name" name="first-name" ng-model="user.first_name">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Last Name" name="last-name" ng-model="user.last_name">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Email" name="email" ng-model="user.email">
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="moveToStep('2')">
        Next
      </button>
    </ion-content>
</ion-view>
