<ion-view view-title="List Detail">
  <ion-content>
    <ui-gmap-google-map center="map.center" zoom="map.zoom">
      <ui-gmap-marker coords="map.center" idkey="1"></ui-gmap-marker>
    </ui-gmap-google-map>
    <ion-list>
      <ion-item class="item-divider">
        Donor
      </ion-item>
      <ion-item>
        Donor
      </ion-item>
      <ion-item class="item-divider">
        Recipient
      </ion-item>
      <ion-item>
        Recipient
      </ion-item>
      <ion-item class="item-divider">
        Donation Details
      </ion-item>
      <ion-item>
        Recipient
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
