<ion-view view-title="Recipient Registration">
    <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Organization Name" name="organization-name" ng-model="user.organization_name">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="First Name" name="first-name" ng-model="user.first_name">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Last Name" name="last-name" ng-model="user.last_name">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Address 1" name="address-1" ng-model="user.address_1">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Address 2" name="address-2" ng-model="user.address_2">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Zipcode" name="zipcode" ng-model="user.zipcode">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Special Instructions" name="special_instructions" ng-model="user.special_instructions"/>
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Email" name="email" ng-model="user.email">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Phone Number" name="phone-number" ng-model="user.phone_number">
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="">
        Register
      </button>
    </ion-content>
</ion-view>
