<ion-view view-title="Donate">
    <ion-content>

        <label class="item item-input">
            <span class="input-label">Item</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Description</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Gross Weight</span>
            <input type="text">
        </label>

        <label class="item item-input">
            <span class="input-label">Special Instructions</span>
            <input type="text">
        </label>

        <button class="button button-full button-positive">

        </button>

    </ion-content>
</ion-view>
