<ion-view view-title="Donation Details">
  <ion-nav-buttons side="right">
    <button type="button" class="button button-clear" ng-click="submitDonation(donation)">
      Update
    </button>
  </ion-nav-buttons>
  <ion-content>

    <form name="editDonationForm">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Item Name</span>
        <input type="text" ng-model="donation.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Item Description</span>
        <textarea ng-model="donation.description" rows="2"></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Gross Weight</span>
        <input type="text" ng-model="donation.weight">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Dimensions</span>
        <input type="text" ng-model="donation.dimensions">
      </label>
      <label class="item item-input item-stacked-label" on-hold="imageInputHidden = !imageInputHidden">
        <span class="input-label">Special Instructions</span>
        <textarea type="text" placeholder="Eg. bring around to rear loading dock" ng-model="donation.special_instructions" rows="2"></textarea>
      </label>

      <label class="item item-input item-stacked-label" style="margin-top: 50px" ng-hide="imageInputHidden">
        <span class="input-label">Image SRC</span>
        <input type="text" ng-model="donation.image">
      </label>

    </form>

    <div class="bar bar-assertive message-error" ng-class="{'show': !!failure}">
      <div class="error-message">Could not save changes</div>
    </div>

  </ion-content>
</ion-view>
