<ion-view view-title="Donations">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button ng-click="createDonation()" class="button button-icon button-clear header-item">
        <i class="icon ion-plus"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshDonations()"></ion-refresher>

    <ion-list can-swipe="true" class="donations">
      <div class="item item-divider assertive">
        Action Required
      </div>
      <ion-item ng-repeat="donation in donations | filter:actionRequired()" ng-click="view(donation)" class="item-thumbnail-left">
        <img ng-src="{{donation.image}}">
        <h2>{{donation.name}}</h2>
        <p>{{donation.description}}</p>
        <p class="donation-state">{{donation.status}}</p>
      </ion-item>

      <div class="item item-divider">
        In Progress
      </div>
      <ion-item ng-repeat="donation in donations | filter:inProgress()" ng-click="view(donation)" class="item-thumbnail-left">
        <img ng-src="{{donation.image}}">
        <h2>{{donation.name}}</h2>
        <p>{{donation.description}}</p>
        <p class="donation-state">{{donation.status}}</p>

        <ion-option-button class="button-info" ng-click="edit(donation)">Edit</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="delete(donation)">Delete</ion-option-button>
      </ion-item>

      <div class="item item-divider">
        Completed
      </div>
      <ion-item ng-repeat="donation in donations | filter:completed()" ng-click="view(donation)" class="item-thumbnail-left">
        <img ng-src="{{donation.image}}">
        <h2>{{donation.name}}</h2>
        <p>{{donation.description}}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
