<ion-view view-title="Donation Details">
  <ion-content padding="true">

    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="{{donation.image}}">
        <h2>{{donation.name}}</h2>
        <p>{{donation.created_at | date}}</p>
      </div>

      <div class="item item-body">
        <p class="donation-description">{{donation.description}}</p>
        <p class="donation-special-instructions">{{donation.special_instructions}}</p>
      </div>

    </div>

  </ion-content>
</ion-view>
