<ion-view title="">
  <ion-content class="choose-role">
    <div class="choose-role-header">
      I would like to...
    </div>
    <a ui-sref="app.donorReg">
      <div class="reg-link donations">
        make donations
      </div>
    </a>
    <a ui-sref="app.driverReg.step1">
      <div class="reg-link deliver">
        volunteer to deliver
      </div>
    </a>
    <a ui-sref="app.recipientReg">
      <div class="reg-link recipient">
        become a recipient partner
      </div>
    </a>
  </ion-content>
</ion-view>
