<ion-view view-title="Driver Registration - Step 2">
    <ion-content>
      <form name="driverReg2Form">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="License Plate Number" name="license-plate-number" ng-model="user.license_plate_number">
          </label>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Driver's License Number" name="drivers-license-number" ng-model="user.drivers_license_number">
          </label>
        </div>
        <button type="submit" class="button button-block button-positive">
          Next
        </button>
      </form>
    </ion-content>
</ion-view>
