<ion-view class="login">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-title>
      <img src="img/header-logo.png" />
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content padding="true" scroll="false">
    <form name="loginForm" ng-submit="login(user)">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" name="email" ng-model="user.email" ng-required="true">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="password" placeholder="Password" name="password" ng-model="user.password" ng-required="true">
        </label>
      </div>
      <button type="submit" class="button button-block button-balanced" ng-disabled="loginForm.$invalid">
        Login
      </button>
      <div class="bar bar-assertive login-error" ng-class="{'show': showLoginError}">
        <div class="error-message">Invalid username/password</div>
      </div>
    </form>
    <h4>Don't have an account?</h4>
    <button class="button button-block button-outline button-balanced">
      Create an account
    </button>
  </ion-content>
</ion-view>
