<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/profile/main">
          <div class="text-center">
            <img src="http://www.fillmurray.com/100/100" class="rounded"/>
          </div>
          <div class="text-center">
            {{ user.first_name + ' ' + user.last_name }}
          </div>
          <div class="text-center">View Profile</div>
        </ion-item>

        <!-- Driver -->
        <ion-item menu-close ng-if="user.user_type === 'Driver'">
          Current Delivery
        </ion-item>
        <ion-item menu-close ng-if="user.user_type === 'Driver'" href="#/app/driver/listing">
          Donations Needing Drivers
        </ion-item>
        <ion-item menu-close ng-if="user.user_type === 'Driver'">
          Past Deliveries
        </ion-item>

        <!-- Donor and Recipient -->
        <ion-item menu-close ng-if="user.user_type === 'Donor'" href="#/app/donor/donate">
          Create a Donation
        </ion-item>
        <ion-item menu-close ng-if="user.user_type === 'Donor' || user.user_type === 'Recipient'" href="#/app/donor/donations">
          List of Donations
        </ion-item>

        <ion-item menu-close class="item item-icon-left" ui-sref="app.handshake">
          Handshake
        </ion-item>
        <ion-item menu-close class="item item-icon-left" ng-click="logout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
